---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Santiago Vittori | Portfolio">
	<main class="flex min-h-screen flex-col items-center justify-center p-4">
		<h1 class="text-5xl font-bold tracking-tighter text-transparent bg-clip-text bg-gradient-to-b from-white to-white/40">
			Santiago Vittori
		</h1>
        <p class="mt-4 text-lg text-neutral-400">
            Desarrollador Full Stack
        </p>
	</main>
</Layout>